* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 18px;
}

body {
    background: url(./assets/INVESTIMENTO.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #1B83E2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: none;
    width: 375px;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    color: #F4F4F4;
}

main {
    padding: 24px;
}

label {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px #0E0E0E;
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px #0E0E0E;
    font-size: 18px;
}

button {
    background: #1B83E2;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    color: #F4F4F4;
    font-weight: 700;
    font-size: 16px;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;
    box-shadow: 2px 2px 5px #0E0E0E;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.currency-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.currency-name {
    font-size: 14px;
    color: #FFFFFF;
}

.currency-value {
    color: #1B83E2;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width:410px) {
    .container {
        margin-top: 100px;
        padding: 20px;
    }
}